html,
body,
#app {
  height: 100%;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-neutral-0);
  color: var(--foreground);

  font-family: var(--font-geist);
}
